<!DOCTYPE html>
<html>
  <head>
    <title>ContactsApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <div class="container-fluid">
      <% flash.each do |name, message| %>
        <div class="alert alert-<%= name %>" role="alert"><%= message %></div>
      <% end %>
      <%= yield %>      
    </div>
  </body>
</html>
